.links {
	--_nf-links-grid-stroke-main-color: var(
		--nf-links-grid-stroke-main-color,
		grey
	);
	--_nf-links-grid-stroke-main-pulsing-color: var(
		--nf-links-grid-stroke-main-pulsing-color,
		lightgreen
	);
	--_nf-links-grid-stroke-main-overlay-color: var(
		--nf-links-grid-stroke-main-overlay-color,
		grey
	);
	--_nf-links-grid-stroke-main-outline-color: var(
		--nf-links-grid-stroke-main-outline-color,
		hsl(0deg 0% 0% / 15%)
	);
	--_nf-links-grid-stroke-main-hover-color: var(
		--nf-links-grid-stroke-main-hover-color,
		hsl(0deg 0% 0% / 15%)
	);

	position: absolute;
	pointer-events: none;

	& svg {
		width: 100%;
		height: 100%;
		overflow: visible;
	}

	& .paths {
		pointer-events: initial;
		cursor: crosshair;

		&:not(.is-connecting-port) {
			cursor: no-drop;

			&:hover {
				& path:not(.fatty, .overlay) {
					stroke: var(--_nf-links-grid-stroke-main-hover-color) !important;
					stroke-width: 2px !important;
				}
			}
		}
	}
}
